<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">

    <title>Database Homepage</title>

    <!link type="text/css" rel="stylesheet" href="/static/styles/homestyle.css">
    <!script src="/static/homescript.js">
    <!/script>
</head>

<body>

    <div id="wrapper">
        <form action="home" method="get">
            <input type="submit" value="Back to homePage">
        </form>
        <h2>Category Summary</h2>

        <table border=1>
            <tr>
                <th>Name</th>
                <th>Occurences</th>
                <th>Average Price</th>
            </tr>
            {% for row in rows %}
            <tr>
                {% for item in row%}
                <td>
                    {{item}}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <table border=1>
            <tr>
                <th>Total</th>
            </tr>
            {% for row in total %}
            <tr>
                {% for item in row%}
                <td>
                    {{item}}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>